:root {
    /* General Styles */
    --background: #ffffff;
    --body-text: #000000;
    --exit-modal-color: #dfe3e9;
    --error-color: #ff8a80;
    --header-text: #000000;
    --info-border: #ffffff;
    --link-text: #008c73;
    --pie-chart-color: #b388ff;
    --token-balance-text: #90a4ae;
    --warning: #ff8a80;
    --address-color: #82b1ff;
    --info: #ffc780;

    /* Input Fields */
    --input-text: #000000;
    --input-placeholder-text: #575860;
    --input-hover-background: #fafafa;
    --input-hover-placeholder-text: #818187;
    --input-hover-border: #4c5480;

    /* Button Styles */
    --button-text: #fafafa;
    --button-background: #008c73;
    --button-border: #008c73;
    --inactive-button-border: rgba(140, 158, 255, 0.2);
    --inactive-button-text: rgba(0, 0, 0, 0.6);

    /* Fonts */
    --roboto: 'Roboto', sans-serif;

    /* Panel Styles */
    --panel-border: #b2b5b2;
    --panel-background: #ffffff;
    --panel-hover-border: #a3a5a3;
    --panel-hover-background: #f7f5f5;
    --panel-header-background: #f7f5f5;

    /* Selector Styles */
    --highlighted-selector-background: #b2b5b2;
    --highlighted-selector-border: #000000;
    --highlighted-selector-text: #000000;
    --selector-background: #f7f5f5;
    --selector-border: #41476b;
    --selector-text: #000000;
}

body {
    background: var(--background);
}

.app-shell {
    /* margin-top: 60px; */
}

#root::-webkit-scrollbar {
    display: none;
}

.popup-content {
    color: var(--body-text);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
